.characterEditor {
  padding-top: 48px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  isolation: isolate;
}

.header {
  padding-bottom: 64px;
  text-align:center;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  height: 90vh;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.controlColumn {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: row;
}

@media (min-width: 992px) {
  .characterEditor {
    padding-top: 128px;
    padding-bottom: 64px;
  }

  .characterWrapper {
    min-height: 500px;
    position:fixed;
    top:20%;
    left: 60%;
    bottom: 5%;
  }

  .controlColumn {
    width: 50%;
    position: relative;
    bottom: initial;
    display: block;
  }

  .greyBackground {
    background-color: hsl(195deg, 20%, 86%);
    height: 40vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}




